.table {
  height: min-content;
  width: 60vw;
  border-radius: 10px;
  /* border-left: 1px solid #c6d5e1;
  border-top: 1px solid #c6d5e1;
  border-bottom: 1px solid #c6d5e1;
  border-right: 1px solid #c6d5e1; */
}
.table th {
  text-align: left;
  color: #363636;
  padding: 4px 6px 6px;
  border-radius: 0px;
  border-bottom: 1px solid #c6d5e1;
  /* color: white;
  background: #363636;
  border-left: 1px solid #c6d5e1; */
}
.table th p{
  font-size: calc(1.2vmin + 0.5vw);
}
.table th:nth-child(1){
  border-radius: 10px 0 0 0;
}
.table th:nth-last-child(1){
  border-radius: 0 10px 0 0;
}
.table td {
  font-size: calc(1vmin + 0.5vw);
  padding: 4px 6px 6px;
  align-items: center;
  /* border-left: 1px solid #c6d5e1; */
  border-bottom: 1px solid #c6d5e1;
}
.table td:nth-child(1){
  width:fit-content;
  border-left: transparent;
}
.table tr:nth-last-child(1) td{
  border-bottom: transparent;
}

.controls {
  display: flex;
  flex-direction: column;
}
.perpage {
  display: flex;
  margin-top: 10px;
  align-items: center;
  gap: 5px;
}
.navigation {
  margin-top: 5px;
}
.navigation img {
  cursor: pointer;
}