.table {
  height: min-content;
  width: 100%;
  border-radius: 10px;
  /* border-left: 1px solid #c6d5e1;
  border-top: 1px solid #c6d5e1;
  border-bottom: 1px solid #c6d5e1;
  border-right: 1px solid #c6d5e1; */
}
.table tr:hover{
  background-color: rgb(250, 250, 250);
}
.table th {
  text-align: left;
  color: #363636;
  padding: .5em .75em;;
  border-radius: 0px;
  border-bottom: 1px solid #c6d5e1;
  font-size: calc(var(--base-em) / var(--ms1));
  /* color: white;
  background: #363636;
  border-left: 1px solid #c6d5e1; */
}
.table th:nth-child(1){
  border-radius: 10px 0 0 0;
  width: min-content;
}
.table th:nth-last-child(1){
  border-radius: 0 10px 0 0;
}
.table td {
  padding: .5em .75em;
  align-items: center;
  font-size: calc(var(--base-em) / var(--ms1));
  /* border-left: 1px solid #c6d5e1; */
  border-bottom: 1px solid #c6d5e1;
}
.table td:nth-child(1){
  width: min-content;
  border-left: transparent;
  font-weight: 500;
}
.table tr:nth-last-child(1) td{
  border-bottom: transparent;
}

.controls {
  display: flex;
  flex-direction: column;
}
.perpage {
  display: flex;
  margin-top: 10px;
  align-items: center;
  gap: 5px;
}
.navigation {
  margin-top: 5px;
}
.navigation img {
  cursor: pointer;
}

.highlight{
  background-color: #cbf0e0;
  color: #257953;
  padding: 0.5em;
}