footer {
    display: grid;
    grid-auto-rows: auto;
    row-gap: 20px;
    align-items: center;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-around;
    justify-items: center;
    background-color: #f5f5f5;
    color: #363636;
    align-items: center;
}
footer img {
    width: auto;
    height: 3vw;
}
footer p {
    font-weight: 900;
    color: #363636;
    font-size: calc(var(--base-em) / var(--ms1));
}
.footerItems {
    max-width: 960px;
    display: flex;
    gap: 2vw;
}
.footerItems a {
    text-decoration: none;
    text-align: center;
    color: #363636;
    position: relative;
    transition: 0.2s;
}
.footerItems a:hover{
    color:#f86021;
}
.copyright{
    max-width: 960px;
    padding-right: 3rem;
    padding-left: 3rem;
}
.copyright p{
    font-size: calc(var(--base-em) / var(--ms1));
    font-weight: 300;
}
