.textCard {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: max-content;
  width: auto;
  gap: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 2px 0 30px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  filter: blur(0.1px);
  transform: scale(0.95);
  opacity: 0.5;
  transition: 0.9s;
  padding: 10px;
  user-select: none;
}
.textCard:nth-child(1){
  filter:blur(0);
  transform: scale(0.95);
  opacity: 1;
  transition: 0.9s;
}
.textCard:hover {
  filter:blur(0);
  transform: scale(1);
  opacity: 1;
  transition: 0.9s;
}
:not(.textCard:nth-child(1)):hover ~ .textCard:nth-child(1) {
  filter: blur(0.1px);
  transform: scale(0.95);
  opacity: 0.5;
  transition: 0.9s;
}
.delete{
  cursor: pointer;
  fill: black;
  stroke: black;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 99;
  transition: 0.2s all;
}
.delete:hover{
  fill: #f86021;
  stroke: #f86021;
}
.text{
  overflow: hidden;
  font-weight: 300;
  height: auto;
}
.date{
  font-weight: 500;
  color: #ffffff;
  mix-blend-mode: difference;
}
.shortInfo{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  gap: 10px;
  align-items: center;
}
.progress {
  display: grid;
  width: min-content;
  min-width: 80px;
  height: 20px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  border: 1px solid black;
  overflow: hidden;
  position: relative;
}
.progress p{
  justify-self: center;
  align-self: center;
  font-size: calc(0.5vmin + 0.5vw);
  color: black;
  z-index: 2;
}
.progress span {
  display: flex;
  height: 100%;
  color: rgb(255, 251, 251);
  line-height: 30px;
  position: absolute;
  padding-right: 5px;
}

.load {
  cursor: pointer;
  display: grid;
  width: min-content;
  min-width: 80px;
  height: 20px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  border: 1px solid black;
  overflow: hidden;
  position: relative;
  z-index: 99;
  transition: all 0.2s;
}
.load p{
  justify-self: center;
  align-self: center;
  font-size: calc(0.5vmin + 0.5vw);
  color: black;
  transition: all 0.2s;
}
.load:hover{
  background-color:#f86021;
  border-color: #f86021;
}
.load:hover p{
  color:#ffffff;
}