header {
    display: flex;
    height: 50px;
    background-color: #fff;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px #ededed solid;
}
header svg {
    fill: #363636;
    cursor: pointer;
    transition: all 0.2s;
}
header svg:hover {
    fill: #f86021;
}
header p {
    font-weight: 900;
    color: #363636;
    font-size: calc(var(--base-em) * var(--ms2));
}
.menu{
    display: flex;
    margin-left: 10px;
    align-items: center;
    gap: 1.5vw;
    transition: 0.2s;
}
.menu a {
    font-weight: 500;
    color: #363636;
    transition: 0.2s;
}
.menu a:link {
    color: #363636;
}
.menu a:visited {
    color: #363636;
}
.menu a:hover {
    cursor: pointer;
    color: #f86021;
}
.menu a:active {
    color: #f86021;
}