header {
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    height: 50px;
    background-color: #000000;
    align-items: center;
    justify-content: space-between;
}
header img {
    width: auto;
    height: 3vw;
}
header p {
    font-size: 32;
    font-weight: 900;
    color: #fff;
    font-size: calc(3vmin + 0.2vw);
}
.menu{
    display: flex;
    margin-left: 10px;
    align-items: center;
    font-size: calc(1.8vmin + 0.1vw);
    gap: 1.5vw;
    transition: 0.2s;
}
.menu a {
    color: #ffffff;
    transition: 0.2s;
}
.menu a:link {
    color: #ffffff;
}
.menu a:visited {
    color: #ffffff;
}
.menu a:hover {
    cursor: pointer;
    color: #f86021;
}
.menu a:active {
    color: #f86021;
}